<nav  class="navbar navbar-inverse navbar-custom ">
    <div class="container-fluid"> 
      <div class="navbar-header"> 
      <a class="navbar-brand">Pecunia Bank</a> 
      </div> 
       <ul class="nav navbar-nav"> 
      <li class="dropdown"> 
          <a  class="dropdown-toggle" data-toggle="dropdown"> 
              Transaction<span class="caret"></span></a> 
          <ul class="dropdown-menu"> 
             <li ><a id="list1" routerLinkActive="routerLinkActive" routerLink="Transcation">Daily Transcation</a></li> 
             <li><a id="list1" routerLinkActive="routerLinkActive" routerLink="DepositSlip">Deposit Money Using Slip</a></li> 
             <li><a id="list1" routerLinkActive="routerLinkActive" routerLink="WithdrawalSlip">Withdrawal Money Using Slip</a></li> 
             <li><a id="list1" routerLinkActive="routerLinkActive" routerLink="WithdrawalCheque">Withdrawal Money Using Cheque</a></li> 
             <li><a id="list1" routerLinkActive="routerLinkActive" routerLink="DepositCheque">Deposit Money Using Cheque</a></li> 
             <li><a id="list1" routerLinkActive="routerLinkActive" routerLink="TransferCheque">Transfer Money Using cheque</a></li> 
         </ul> 
      </li> 
      </ul> 
  </div> 
  </nav>
  
  <router-outlet></router-outlet>